# =========================
# Maven
# =========================
backend/target/

# =========================
# Node.js
# =========================
frontend/node_modules/

# =========================
# Angular Build
# =========================
frontend/dist/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE Files
# =========================
.idea/
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
